@import '../../scss';

.completed-hunts {
	.filter {
		flex-basis: 50%;
		margin-right: 1rem;
		padding: 0.5rem;

		@include media-breakpoint(md) {
			flex-basis: auto;
			flex-grow: 3;
		}
	}
	.sort {
		flex-grow: 1;

		&-label {
			display: flex;
			align-items: center;
			margin-right: 0.5rem;
		}
	
		.react-select {
			&__control {
				height: 100%;
			}
			&__menu {
				z-index: 2;
			}
		}
	}
}