$jet: #353535;
$ming: #3c6e71;
$subtle-divide: #c1c1c1;
$gainsboro: #d9d9d9;
$indigo-dye: #284b63;
$tshirt-white: #e3e3e3;
$off-white: #f0f0f0;
$white: #fff;
$black: #000;

$pokeball-red: #ee1515;
$pokeball-white: #f0f0f0;
$twitch-purple: #9146ff;

$decrement-red: #bf0802;
$increment-green: #06991a;
$interact-blue: #479aed;

$background-color: $tshirt-white;
$header-background-color: $indigo-dye;
$header-color: $gainsboro;
$copy: $jet;