@mixin media-breakpoint($breakpoint) {
	$bpWidth: map-get($breakpoints, $breakpoint);
	@media (min-width: $bpWidth) {
		@content;
	}
}

@mixin background-color-hover-react($color) {
	background-color: $color;

	&:hover, &:focus {
		background-color: darken($color, 10%);
	}
}

%container {
	width: 100vw;
	padding: 0 12px;
	margin: 0 auto;

	@include media-breakpoint(sm) {
		max-width: 540px;
	}
	@include media-breakpoint(md) {
		max-width: 720px;
	}
	@include media-breakpoint(lg) {
		max-width: 960px;
	}
	@include media-breakpoint(xl) {
		max-width: 1140px;
	}
	@include media-breakpoint(xxl) {
		max-width: 1320px;
	}
}

%flexible-view-items {
	flex: 0 0 100%;

	@include media-breakpoint(md) {
		flex: 0 0 50%;
	}

	@include media-breakpoint(xl) {
		flex: 0 0 33%;
	}
}