@import './index';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--background-color);
	color: var(--copy);
	font-family: 'Nunito Sans', Arial, sans-serif;
}

.loading-msg {
	display: flex;
	position: fixed;
	inset: 0;
	justify-content: center;
	align-items: center;
}

.page-content {
	margin-top: $header-height;
	min-height: calc(100vh - #{$header-height});
	position: relative;
}

button {
	color: inherit;
	background: transparent;
	border: 0;
	cursor: pointer;
	font: inherit;

	&[disabled] {
		opacity: 0.6;
		cursor: default;
	}
}

.btn-primary {
	padding: 0.75rem 1rem;
	color: var(--btn-primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--btn-primary-background-color);

	&:hover, &:focus {
		background-color: var(--btn-primary-hover-background-color);

		&[disabled] {
			background-color: var(--btn-primary-background-color);
		}
	}
}

.link-btn {
	color: var(--link-btn-color);
}

input {
	border-style: solid;
}

input[type="text"], input[type="number"], textarea {
	background-color: var(--input-background-color);
	color: var(--input-color);
}

.react-select {
	div {
		background-color: var(--input-background-color);
		color: var(--input-color);

		&.react-select__option--is-focused {
			background-color: var(--dropdown-hover-color);

			div { background-color: var(--dropdown-hover-color) };
		}
	}
}

.mobile-only {
	@include media-breakpoint(md) {
		display: none;
	}
}

.desktop-only {
	display: none;
	@include media-breakpoint(md) {
		display: initial;
	}
}