@import './index';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: $background-color;
	color: $copy;
	font-family: 'Nunito Sans', Arial, sans-serif;
}

.page-content {
	margin-top: $header-height + 10px;
	min-height: calc(100vh - #{$header-height} - 10px);
	position: relative;
}

button {
	color: inherit;
	background: transparent;
	border: 0;
	cursor: pointer;
	font: inherit;
}

.btn-primary {
	padding: 0.75rem 1rem;
	background-color: $ming;
	color: $tshirt-white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}