@import '../../scss';

.shinydex-stats-modal {
	inset: 0;
	border-radius: 0;
	max-width: none;
	text-align: center;

	h4 {
		margin: 1rem 0;
	}

	@include media-breakpoint(md) {
		inset: 90px;
		min-width: 600px;
		max-width: 800px;
		border-radius: 4px;
		max-height: 80vh;
	}

	.row { display: flex; justify-content: center; align-items: center;}
	.title { width: 50%; margin: 0 0.5rem; text-align: left; font-weight: bold; }
	.value { width: 50%; margin: 0 0.5rem; text-align: right;}

	.overall-wrapper {
		width: 80%;
		margin: 0 auto 0.25rem;

		@include media-breakpoint(md) {
			width: 60%;
		}

		.btn-primary {
			margin-top: 0.5rem;
		}
	}
	.generations-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.generation-header {
			font-weight: bold;
		}

		.generation-row {
			flex-basis: 80%;
			padding: 0.25rem 0.5rem;
			@include media-breakpoint(md) {
				flex-basis: 50%;
				padding: 0.25rem 1.75rem;
			}
		}

	}
}