@import '../../scss';

.logo-ball-container {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.75rem;
	vertical-align: bottom;
	position: relative;
	top: -2px;

	img {
		max-width: 100%;
		transform: rotate(20deg);
		filter: grayscale(0.25);
	}
}

.logo-text {
	margin-top: 5px;
}

.header-logo {
	color: var(--header-color);
	font-size: 2rem;
	text-decoration: none;
	white-space: nowrap;
	padding: 1rem 0;
}