@import '../../scss';

.base-page-template {
	@extend %container;

	.header {
		padding: 1rem 0.5rem;
		font-size: 1rem;
		border-bottom: 1px solid var(--subtle-divider-color);
		min-height: 81px;
		display: flex;
	}

	.page {
		padding: 1.5rem 0.5rem;
		display: flex;
		flex-wrap: wrap;

		& > :not(.ignore-parent-flex) {
			@extend %flexible-view-items;
		}
	}
}