@import '../../scss';

.base-page-template {
	@extend %container;

	.header {
		padding: 1rem 0.5rem;
		font-size: 1rem;
		border-bottom: 1px solid var(--subtle-divider-color);
		min-height: 81px;
		display: flex;
	}

	.page {
		padding: 1.5rem 0.5rem;
		display: flex;
		flex-wrap: wrap;

		& > :not(.ignore-parent-flex) {
			@extend %flexible-view-items;
		}
	}

	.scrollTop {
		position: fixed;
		right: 1rem;
		bottom: 1rem;
		width: auto;
		border-radius: 50%;
		padding: 0.5rem;

		svg {
			width: 3rem;
			height: 3rem;
			stroke: var(--btn-primary-color);
		}
	}
}