@import '../../scss';

.modal {
	&-header {
		padding: 1rem 0.5rem 0.5rem;
		border-bottom: 1px solid $gainsboro;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-title {
		font-weight: bold;
		color: $copy;
		margin: 0;
	}

	&-close {
		font-size: 2rem;
		line-height: 1;
		padding: 0 0.5rem;
	}

	&-content {
		padding: 0.5rem;
		height: calc(100% - 60px);
		overflow-y: auto;
	}

	&-container {
		position: absolute;
		border: 1px solid rgb(204, 204, 204);
		background: #f0f0f0;;
		inset: 90px 40px;
		max-width: 1200px;
		margin: 0 auto;
		padding: 1rem;
		padding-top: 0;
		overflow: auto;
		border-radius: 4px;
		outline: none;
	}
}