
@import '../../scss';

.hunt-viewer {
	margin-bottom: 1.5rem;

	button {
		width: 100%;
	}

	.pokemon-image,
	.data-container {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.pokemon-image {
		width: 35%;
		border-radius: 100%;
		background-color: $background-color;
		z-index: 1;
	}

	.data-container {
		width: 65%;
		border: 1px solid $subtle-divide;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-left: none;
		margin-left: -20px;
		padding: 5px 0 5px 30px;

		.name {
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
}