
@import '../../scss';

.hunt-viewer {
	margin-bottom: 1.5rem;

	button {
		width: 100%;
	}

	.pokemon-image,
	.data-container {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	.pokemon-image {
		width: 35%;
		border-radius: 100%;
		background-color: var(--background-color);
		z-index: 1;
	}

	.data-container {
		width: 75%;
		border: var(--viewer-border);
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border-left: none;
		margin-left: -50px;
		padding: 5px 10px 5px 60px;
		background-color: var(--viewer-background-color);

		.name {
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
}