@import '../../scss';

header {
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: $header-background-color;
	color: $header-color;
	margin-bottom: 5px;
	z-index: 1;

	.header-container {
		@extend %container;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 2rem;
	}

	.signin-container {
		max-width: 300px;
		flex-grow: 1;
		margin-left: 3rem;
		display: none;

		@include media-breakpoint(sm) {
			display: block;
		}
	}
}